* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  background-color: #ebebeb;
}

.header-color {
  background-color: #eac926;
  padding-bottom: 15px;
}

.parrafo-center {
  text-align: center;
  margin-top: 15px;
}

.tamaño-titulares {
  font-size: 24px;
}

.tamaño-precios {
  font-size: 18px;
}

.tamaño-descuentos-descripciones {
  font-size: 16px;
  color: green;
}

.input-style {
  padding-right: 5px;
  margin-right: 0px;
}

.search {
  display: flex;
  justify-content: left;
}

.div-search {
  background-color: #ebebeb;
  border: solid 1px #666;
  border-radius: 2px;
  margin-top: 3px;
  margin-left: 3px;
}

.burger-menu {
  display: flex;
  text-align: center;
  color: white;
  justify-content: center;
  margin-top: 15px;
}

.child-burger-menu {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #1259c3;
  border-radius: 5px;
}

.nav-class {
  display: none;
}

.footer-centrado {
  text-align: center;
}

.icons-footer {
  text-align: center;
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

.copyright {
  margin-top: 3em;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
  border-radius: 10px;
}
/* Los íconos tienen un tamaño de 2em y un margen inferior de separación de 10
píxeles. */

.m-center {
  text-align: center;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.m-y {
  margin-bottom: 10px;
  /* background-color: white; */
}

.child-product {
  border-top: #ebebeb solid 1px;
  margin: 15px;
  position: relative;
}

.article-bg {
  background-color: white;
  border-radius: 10px;
}

/* .article-all {
  width: 100%;
} */

/* Solucion extra */
/* .shipping-car {
  display: block;
  font-size: 15px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  left: 70vw;
  top: -15px;
} */

.child-product i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.porcent-pos {
  display: flex;
}

.porcent-pos p {
  margin-left: 20px;
  align-self: center;
}

.header-flex-container {
  display: flex;
}

.header-flex-container img {
  width: 50vw;
  height: 40px;
  margin-top: 20px;
}

.header-flex-container .search-f {
  width: 50vw;
  height: 30px;
  margin-top: 25px;
}

.search-f input {
  border-radius: 5px 0px 0px 5px;
}

.border-n {
  border: none;
}

.search-f .div-search {
  color: black;
  background-color: white;
  border: none;
  margin: 0px;
  font-size: 15px;
  display: flex;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
}
/* Media queris */

@media (min-width: 481px) {
  /* tablet */
  .product-shadow {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  /* NAVBAR */
  .nav-class {
    display: flex;
    justify-content: space-around;
  }

  .ul-f-item {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 15px;
  }

  .child-burger-menu {
    display: none;
  }
  .s-f {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .a-f {
    flex-basis: 48%;
  }
  .header-flex-container-dos {
    display: flex;
    flex-direction: row;
  }

  .header-flex-container-dos p i {
    margin-top: 10px;
  }
  .header-flex-container img {
    width: 33vw;
    height: 40px;
    margin-top: 20px;
  }

  .header-flex-container .search-f {
    width: 33vw;
    height: 30px;
    margin-top: 25px;
  }
}

@media (min-width: 769px) {
  /* laptop */
  .product-shadow {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .nav-class {
    display: flex;
    justify-content: space-around;
  }

  .ul-f-item {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  .child-burger-menu {
    display: none;
  }
  .s-f {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .a-f {
    flex-basis: 23%;
  }

  .header-flex-container-dos {
    display: flex;
    flex-direction: row;
  }

  .header-flex-container-dos p i {
    margin-top: 10px;
    flex-basis: 33%;
  }
  .header-flex-container img {
    flex-basis: 33%;
    height: 40px;
    margin-top: 20px;
  }

  .header-flex-container .search-f {
    flex-basis: 33%;
    height: 30px;
    margin-top: 25px;
  }
  .header-flex-container {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 1280px) {
  /* pc */
  .product-shadow {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .nav-class {
    display: block;
  }
  .child-burger-menu {
    display: none;
  }
  .s-f {
    display: flex;
    gap: 10px;
  }
  .header-flex-container-dos {
    display: flex;
    flex-direction: row;
  }

  .header-flex-container-dos p i {
    margin-top: 10px;
    flex-basis: 33%;
  }
  .header-flex-container img {
    flex-basis: 33%;
    height: 40px;
    margin-top: 20px;
  }

  .header-flex-container .search-f {
    flex-basis: 33%;
    height: 30px;
    margin-top: 25px;
  }
  .header-flex-container {
    display: flex;
    justify-content: space-around;
  }
}
